{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1 class="display-4 text-center"><span>Welcome to Payments Hub Sandbox</span></h1>
            </div>
            {% if app.request.get('token') %}
                <div class="alert alert-success" role="alert">
                    Successfully payed for subscription {{ app.request.get('token') }}
                </div>
            {%  endif %}
            <div id="next">
                <div class="row">
                    <div class="col-md-12">
                    <h4 class="mb-3">Payment</h4>
                {{ form_start(form, {attr: {novalidate:  true}}) }}
                {{ form_errors(form) }}
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.amount, {attr: {class: 'form-control'}}) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.currencyCode, {label: 'Currency', attr: {class: 'form-control'}}) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form_row(form.type, {attr: {class: 'form-control'}}) }}
                    </div>
                    <span style="display: none;">
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.interval, {attr: {class: 'form-control'}}) }}
                        </div>

                        <div class="col-md-6 mb-3">
                            {{ form_row(form.startDate, {attr: {class: 'form-control'}}) }}
                        </div>
                    </span>
                    <div class="col-md-6 mb-3">
                    <div class="d-block my-3">
                        {{ form_label(form.method) }}
                        <div id="ph_subscription_method">
                        {% for method in form.method %}
                            {{ form_widget(method, {label_attr: {class: 'radio-custom custom-control-label'}}) }}
                        {% endfor %}
                        </div>
                    </div>
                    </div>

                        <hr class="mb-4">
                        {{ form_row(form.submit, {attr: {class: 'btn btn-primary btn-lg btn-block'}}) }}

                {{ form_widget(form.metadata, {attr: {style: 'display: none'}}) }}
                {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script>
        $( "#ph_subscription_type" ).change(function() {
            var $form = $(this).closest('form');
            var data = {};
            data[$(this).attr('name')] = $(this).val();
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    $('#ph_subscription_method').replaceWith(
                        $(html).find('#ph_subscription_method')
                    );
                }
            });

            if ('recurring' == this.value) {
                $('form span').show();
            } else {
                $('form span').hide();
            }
        });
    </script>
    <script>
        $("form[name='ph_subscription']").submit(function( event ) {
            event.preventDefault();

            var $form = $( this ),
                currency = $form.find( "select[name='ph_subscription[currencyCode]']" ).val(),
                amount = $form.find( "input[name='ph_subscription[amount]']" ).val(),
                interval = $form.find( "select[name='ph_subscription[interval]']" ).val(),
                startDate = $form.find( "select[name='ph_subscription[startDate]']" ).val(),
                subType = $form.find( "select[name='ph_subscription[type]']" ).val(),
                method = $form.find( "input[name='ph_subscription[method]']:checked" ).val(),
                metadata = $form.find( "input[name='ph_subscription[metadata]']" ).val();


            var emailParam = location.search.split('email=')[1];

            if (typeof emailParam != 'undefined') {
                metadata = {
                    email: emailParam
                };
            }

            var data = {
                "amount": amount * 100,
                "currency_code": currency,
                "type": subType,
                "method": method,
                "metadata": metadata
            };

            if ('recurring' == subType) {
                data['interval'] = interval;
                data['start_date'] = startDate;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: '/public-api/v1/subscriptions/',
                data: JSON.stringify(data),
                dataType: "json"
            }).done(function( data ) {
                window.location.replace('/public-api/v1/subscriptions/'+data.token_value+'/pay/');
                // or
                // window.location.replace('/public-api/v1/subscriptions/'+data.token_value+'/pay/?redirect=http://example.com');
                // to redirect always to the given url
                console.log('done');
            }).fail(function () {
                alert('error when making a purchase');
            });
        });
    </script>
{% endblock %}
