{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to Payments Hub Sandbox.</span></h1>
            </div>
            {% if app.request.get('token') %}
                <div style="color: #3D7700">Successfully payed for subscription {{ app.request.get('token') }}</div>
            {%  endif %}
            <div id="next">
                Subscription purchase:<br><br>
                {{ form_start(form) }}
                {{ form_errors(form) }}

                {{ form_row(form.amount) }}
                {{ form_row(form.currencyCode) }}
                {{ form_row(form.type) }}
                <span style="display: none;">{{ form_row(form.interval) }}</span>
                <span style="display: none;">{{ form_row(form.startDate) }}</span>
                {{ form_row(form.method) }}
                {{ form_row(form.metadata) }}
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
    </style>
{% endblock %}
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script>
        var $type = $('#ph_subscription_type');
        $type.change(function() {
            var $form = $(this).closest('form');
            var data = {};
            data[$type.attr('name')] = $type.val();
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    $('#ph_subscription_method').replaceWith(
                        $(html).find('#ph_subscription_method')
                    );
                }
            });
        });
        $( "#ph_subscription_type" ).change(function() {
            if ('recurring' == this.value) {
                $('form span').show();
            } else {
                $('form span').hide();
            }
        });
    </script>
    <script>
        $("form[name='ph_subscription']").submit(function( event ) {
            event.preventDefault();

            var $form = $( this ),
                currency = $form.find( "select[name='ph_subscription[currencyCode]']" ).val(),
                amount = $form.find( "input[name='ph_subscription[amount]']" ).val(),
                interval = $form.find( "select[name='ph_subscription[interval]']" ).val(),
                startDate = $form.find( "select[name='ph_subscription[startDate]']" ).val(),
                subType = $form.find( "select[name='ph_subscription[type]']" ).val(),
                method = $form.find( "input[name='ph_subscription[method]']:checked" ).val(),
                data = {
                    "amount": amount * 100,
                    "currency_code": currency,
                    "type": subType,
                    "method": method
                };

            if ('recurring' == subType) {
                data['interval'] = interval;
                data['start_date'] = startDate;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: '/public-api/v1/subscriptions/',
                data: JSON.stringify(data),
                dataType: "json"
            }).done(function( data ) {
                window.location.replace('/public-api/v1/subscriptions/'+data.token_value+'/pay/');
                // or
                // window.location.replace('/public-api/v1/subscriptions/'+data.token_value+'/pay/?redirect=http://example.com');
                // to redirect always to the given url
                console.log('done');
            }).fail(function () {
                alert('error when making a purchase');
            });;
        });
    </script>
{% endblock %}
